@{
    ViewData["Title"] = "Home Page";
}

<style>

</style>

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Welcome to World Dominion</h1>
        <h2>Your one-stop shop for a wide range of fresh produce, pantry essentials, and more!</h2>
        <p>We are committed to providing you with the best quality products at competitive prices.</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Fresh Produce and Pantry Essentials</h2>
            <p>Discover a variety of fresh fruits and vegetables sourced directly from local farms.</p>
            <a class="btn" href="/products" role="button">Explore</a>
        </div>
        <div class="col-md-4">
            <h2>Shop by Departments</h2>
            <p>Explore our range of products categorized by departments to find what you need.</p>
            <a class="btn" href="Departments" role="button">Explore</a>
        </div>
    </div>
</div>

<hr>

<div class="container special-offers">
    <div class="row">
        <div class="col-md-12">
            <h2>Special Offers</h2>
            <div class="row">
                <div class="col-md-6">
                    <h3>50% off on all organic vegetables</h3>
                    <p>Enjoy half price savings on our wide selection of organically grown vegetables. Stock up on your favorites and add some healthy goodness to your meals!</p>
                </div>
                <div class="col-md-6">
                    <h3>Buy one, get one free on selected fruits</h3>
                    <p>Take advantage of this special offer and double your fruit haul! Buy one and get another for free on selected fruits. Perfect for snacking or adding to your favorite recipes.</p>
                </div>
            </div>
        </div>
    </div>
</div>