@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
        <h1>Privacy Policy</h1>

        <section class="content policy">
            <div class="container">
                <h3>Introduction</h3>
                <p>Welcome to World Dominion's Privacy Policy. This policy describes how we collect, use, and disclose your personal information when you visit our website.</p>

                <h3>Information We Collect</h3>
                <p>We collect various types of information when you visit our website, including:</p>
                <ul>
                    <li>Information you provide voluntarily, such as when you register an account, make a purchase, or contact us.</li>
                    <li>Automatically collected information, such as your IP address, browser type, and device information.</li>
                    <li>Cookies and similar tracking technologies to enhance your browsing experience and analyze usage patterns.</li>
                </ul>

                <h3>How We Use Your Information</h3>
                <p>We use the information we collect for various purposes, including:</p>
                <ul>
                    <li>Providing and improving our services.</li>
                    <li>Personalizing your experience and delivering targeted advertisements.</li>
                    <li>Communicating with you, including responding to inquiries and providing support.</li>
                    <li>Complying with legal obligations.</li>
                </ul>

                <h3>Information Sharing and Disclosure</h3>
                <p>We may share your personal information with third parties in certain circumstances, including:</p>
                <ul>
                    <li>Service providers who assist us in operating our website and providing services.</li>
                    <li>Legal authorities or government agencies to comply with legal requirements or protect our rights.</li>
                    <li>Third parties in connection with a business transaction, such as a merger or acquisition.</li>
                </ul>

                <h3>Security</h3>
                <p>We take reasonable measures to protect your personal information from unauthorized access, use, or disclosure. However, no method of transmission over the internet or electronic storage is 100% secure.</p>

                <h3>Changes to This Privacy Policy</h3>
                <p>We may update our Privacy Policy from time to time. Any changes will be posted on this page, and the revised date will be indicated at the top of the page.</p>

                <h3>Contact Us</h3>
                <p>If you have any questions or concerns about our Privacy Policy, please contact us at privacy@worldDominion@gmail.com.</p>
            </div>
        </section>
    </div>
