@model IEnumerable<WorldDominion.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Stock Up on Essentials</h1>

<p>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create">Create New</a>
    }
</p>

<partial name="~/Views/Shared/Products/_ProductsTablePartial.cshtml" model="Model" />